{% extends "layout.html" %}

{% block content %}
<!-- Masthead -->
<main class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 justify-content-center">
        <div class="row d-flex justify-content-center h-75 align-items-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Quântica</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">4-Channel Quantizer, chord sequencer, and arpeggiator for Eurorack</h2>
                <a class="btn btn-primary" href="/products/quantica" id="getstarted">Learn More about Quântica</a>
            </div>
        </div>
    </div>
</main>
{% endblock content %}


