{% extends "layout.html" %}

{% block extra_head %}
  <meta property="og:title" content="Quântica by This Machine" />  
  <meta property="og:description" content="Quântica, a 4-Channel Quantizer, chord sequencer, and arpeggiator module for Eurorack" />  
  <meta property="og:image" content="https://thismachinemodular.co.uk/assets/img/quantica/quantica-og.jpg" /> 
  <meta property="og:image:width" content="1200" />  
  <meta property="og:image:height" content="630" />  
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:url" content="https://thismachinemodular.co.uk/products/quantica" /> 
{% endblock extra_head %}

{% block content %}
<header class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Quântica</h2>
                <p class="text-white-50">
                    Quantizer, chord sequencer, and arpeggiator for Eurorack. With its intuitive interface and progression based workflow, This Machine puts music theory at your fingertips.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="{{ get_url(path="assets/img/quantica/angled.png") }}" alt="This Machine Quântica eurorack quantizer module angled" />
    </div>
</header>

<main>
    <section class="p-2 p-lg-5 bg-light" id="projects">

        <div class="container px-0 px-lg-5">

            <div class="row gx-0 mb-3 justify-content-center rounded">
                <div class="col-lg-6 text-center h-100 ">
                    <img class="img-fluid" src="{{ get_url(path="assets/img/quantica/screenshot-main.jpg") }}" alt="This Machine Quântica eurorack quantizer module main screenshot" />
                </div>
                <div class="col-lg-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100 bg-white">
                            <div class="project-text p-5 my-auto text-center text-lg-left">
                                <h3>4 Channel Quantizer</h3>
                                <p class="mb-0 text-muted">
                                Each channel has a CV input with selectable range and a trigger/gate input. Channels can operate independently or be normalled together to create complex chords and harmonies.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row gx-0 mb-3 justify-content-center">
                <div class="col-lg-6">
                    <img class="img-fluid" src="{{ get_url(path="assets/img/quantica/screenshot-sequencer.jpg") }}" alt="This Machine Quântica eurorack quantizer module chord sequencer screenshot">
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100 bg-white">
                            <div class="project-text p-5 my-auto text-center text-lg-right">
                                <h3>Chord Sequencer</h3>
                                <p class="mb-0 text-muted">
                                Quântica's inbuilt chord sequencer lets you record and playback patterns of up to 8 steps. The sequencer can be triggered by an external clock signal, with a configurable clock divider.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gx-0 mb-3 justify-content-center">
                <div class="col-lg-6">
                    <img class="img-fluid" src="{{ get_url(path="assets/img/quantica/screenshot-arp.jpg") }}" alt="This Machine Quântica eurorack quantizer module arpeggiator screenshot">
                </div>
                <div class="col-lg-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100 bg-white">
                            <div class="project-text p-5 my-auto text-center text-lg-left">
                                <h3>Arpeggiator</h3>
                                <p class="mb-0 text-muted">
                                Each channel has an arpeggiator which is applied to the output note after quantization. Use an LFO to control the inversion of the chord, or use the normalisation to create more complex patterns
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gx-0 mb-3 justify-content-center">
                <div class="col-lg-6">
                    <img class="img-fluid" src="{{ get_url(path="assets/img/quantica/screenshot-map.jpg") }}" alt="This Machine Quântica eurorack quantizer module chord map screenshot">
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100 bg-white">
                            <div class="project-text p-5 my-auto text-center text-lg-right">
                                <h3>Chord Map</h3>
                                <p class="mb-0 text-muted">
                                With an intelligent chord suggestion engine, Quântica makes it easy and fast to build great sounding chord progressions. Use the chord map to find inspiration for your next composition.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gx-0 mb-3 justify-content-center">
                <div class="col-lg-6">
                    <img class="img-fluid" src="{{ get_url(path="assets/img/quantica/screenshot-key.jpg") }}" alt="This Machine Quântica eurorack quantizer module key select screenshot">
                </div>
                <div class="col-lg-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100 bg-white">
                            <div class="project-text p-5 my-auto text-center text-lg-right">
                                <h3>Key and Chord Library</h3>
                                <p class="mb-0 text-muted">
                                With an inbuilt understanding of key and chord structure, and an intuitive, responsive UI, Quântica is your guide to generative music.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>

    <section class="bg-light p-2 p-lg-5 ">
        <div class="container px-0 px-lg-5">
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-6">
                    <div id="product-carousel" class="carousel slide" role="region" aria-label="Product carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="{{ get_url(path="assets/img/quantica/carousel/0001.jpg") }}" class="d-block w-100" alt="This Machine Quântica eurorack quantizer module carousel front">
                            </div>
                            <div class="carousel-item">
                            <img src="{{ get_url(path="assets/img/quantica/carousel/0002.jpg") }}" class="d-block w-100" alt="This Machine Quântica eurorack quantizer module carousel front right">
                            </div>
                            <div class="carousel-item">
                            <img src="{{ get_url(path="assets/img/quantica/carousel/0003.jpg") }}" class="d-block w-100" alt="This Machine Quântica eurorack quantizer module carousel back right">
                            </div>
                            <div class="carousel-item">
                            <img src="{{ get_url(path="assets/img/quantica/carousel/0004.jpg") }}" class="d-block w-100" alt="This Machine Quântica eurorack quantizer module carousel back left">
                            </div>
                            <div class="carousel-item">
                            <img src="{{ get_url(path="assets/img/quantica/carousel/0005.jpg") }}" class="d-block w-100" alt="This Machine Quântica eurorack quantizer module carousel front left">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#product-carousel" data-bs-slide="prev" aria-label="Previous slide">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#product-carousel" data-bs-slide="next" aria-label="Next slide">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="col-xl-6 bg-white p-5">
                    <div class="container">

                        <div class="row gx-0 mb-3 justify-content-center">
                            <h3>Features</h3>
                            <ul>
                                <li><strong>4 independent quantizer channels</strong> which can also be chained to generate chords and harmonies</li>
                                <li><strong>1.28" touchscreen interface</strong> with an intuitive and highly responsive custom UI</li>
                                <li><strong>Chord progression-based workflow</strong>, helps users quickly find chords that fit with a chosen key</li>
                                <li><strong>Chord suggestion engine</strong> guides users towards chord sequences that will work well harmonically</li>
                                <li><strong>Chord sequencer</strong> for storing and playing chord sequences. Externally clockable</li>
                                <li><strong>Arpeggiator</strong> for each channel, that works alongside quantization and chord functions</li>
                                <li><strong>Hardware buttons for the most common functions</strong>, plus a rotary encoder, allowing most functions to be accessed without touching the screen</li>
                                <li><strong>Extensive library of keys and chord types</strong></li>
                                <li><strong>USB-C port</strong> for firmware updates</li>
                                <li><strong>Anodised Aluminium Faceplate</strong></li>
                                <li>Designed, Assembled and tested in Sheffield, UK</li>
                            </ul>
                        </div>

                        <div class="row text-left text-lg-left py-3">
                            <h3>Specs</h3>
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th scope="row">Width</th>
                                        <td>12 HP</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Depth</th>
                                        <td>25mm</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">+12V</th>
                                        <td>10mA</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">-12V</th>
                                        <td>10mA</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">+5V</th>
                                        <td>80mA</td>
                                    </tr>
                                </tbody>
                                
                            </table>
                            
                        </div>
                        <div class="row text-left text-lg-left py-3">
                            <h3>Where to Buy</h3>
                            <h4>UK:</h4>
                            <p><a href="https://www.juno.co.uk/products/this-machine-quantica-4-channel-sequencing-quantizer-module/1146006-01/" aria-label="Buy Quântica at Juno">Juno</a></p>
                            <p><a href="https://www.elevatorsound.com/product/this-machine-modular-quantica-eurorack-chord-sequencer-quantiser-arpeggiator-module/" aria-label="Buy Quântica at Elevator Sound UK">Elevator Sound UK</a></p>
                            <h4>EU:</h4>
                            <p><a href="https://eu.elevatorsound.com/product/this-machine-modular-quantica-eurorack-chord-sequencer-quantiser-arpeggiator-module/" aria-label="Buy Quântica at Elevator Sound EU">Elevator Sound EU</a></p>
                            <h4>US:</h4>
                            <p><a href="https://www.perfectcircuit.com/this-machine-modular-quantica.html" aria-label="Buy Quântica at Perfect Circuit">Perfect Circuit</a></p>
                            <p>Distribution partners wanted for other regions. Please <a href="#contact">get in touch</a> if you would like to become a distributor.</p>
                        </div>

                        <div class="row text-left text-lg-left py-3">
                            <h3>Support</h3>
                            <ul>
                                <li><a href="/media/Quântica-User-Manual.pdf" target="_blank">User Manual</a></li>
                                <li><a href="/update">Firmware Updater Tool</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section  class="bg-light p-2 p-lg-5 ">
        <div class="container px-4 px-lg-5">
            <div class="row align-items-center" style="aspect-ratio: 16 / 9;">
                <iframe style="height: 100%;"
                    title="Quantica Demo Video"
                    src="https://www.youtube.com/embed/KBzoa3Fli38"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>
</main>
{% endblock content %}